<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheResult="false"
    stopOnFailure="false">

    <!-- Test Suites -->
    <testsuites>
        <testsuite name="HappyippieCake Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <!-- Coverage Configuration -->
    <!-- Coverage Configuration -->
    <coverage>
        <include>
            <directory suffix=".php">c:/baru xampp/htdocs/happy/happyippieecake.github.io</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
            <directory>coverage</directory>
            <file>info.php</file>
            <file>check_orders.php</file>
            <file>export_laporan.php</file>
            <file>migration_fix_date.php</file>
            <file>debug_order_time.php</file>
            <file>migration_add_order_id.php</file>
        </exclude>
        <report>
            <html outputDirectory="c:/baru xampp/htdocs/happy/happyippieecake.github.io/coverage"/>
        </report>
    </coverage>

    <!-- PHP Settings -->
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
    </php>

</phpunit>
